@media (max-width: 991px)

    .free
        .header
            font-size: 27px
            margin: 0px 0 0 50px
        .subheader
            margin: 30px 0 36px 50px
            font-size: 25px
        .feed-form
            margin-left: 50px
            input
                width: 250px
            .button
                width: 250px
    .carousel
        &__inner
            width: 670px
    .catalog
        &-item
            width: 330px
    .reviews
        &__subtitle
            font-size: 25px
        &__descr
            width: 540px
            padding: 0 0 0 55px
            font-size: 18px
        &__round
            width: 140px
            height: 140px

    .footer 
    
        &__info 
            width: 407px
            height: 255px
            padding: 40px 30px 40px 30px
    

@media (max-width: 767px)
    .header
        &__logo
            width: 130px
        &__official
            
            margin-top: 1px
            width: 151px
            font-size: 10px
            span
                font-size: 13px
    .contacts
        a
            display: none
        .button
                margin-top: 5px
    .promo
        &__header
            font-size: 27px
        &__subheader
            font-size: 17px
    .icons
        margin-top: 50px
        width: 390px
        .icon
            width: 130px
    .catalog
        &__button
            width: 270px
        a
            span
                    font-size: 20px
    .advantages
        &__title
            font-size: 22px
    .logos
        .icon
            width: 150px
            font-size: 10px
            img
                width: 50px
            p
                font-size: 12px
    .free
        .header
            font-size: 15px
            margin: 0px 0 0 50px
        .subheader
            margin: 30px 0 36px 50px
            font-size: 16px
        .feed-form
            margin-left: 50px
    .carousel
        &__inner
            width: 450px

    .titl
        font-size: 25px
    .catalog
        &__tabs 
            margin-top: 39px
        &__tab
            width: 140px
            height: 45px
            font-size: 14px
            line-height: 44px
        &__content
            margin-top: 30px
        &-item
            width: 240px
            padding: 10px 15px 16px 10px
            &__img
                height: 180px
            &__wrapper
                width: calc(207% + 40px)
            &__price
                font-size: 15px
            &__old-price
                font-size: 12px
    .reviews
        &__descr
            width: 350px
            padding: 0 0 0 77px
            font-size: 12px
        &__round
            width: 140px
            height: 140px
    .footer
        &__info
            left: 68%
            width: 340px
            height: 170px
            padding: 20px 26px 21px 26px
        &__addr
            display: none
        &__phone
            margin-top: 15px
            font-size: 26px
@media (max-width: 575px)
    .free
        min-width: 560px
    .clock
        min-width: 560px
    .catalog
        &-item
            width: 260px
            &__img
                height: 120px
            &__subtitle
                font-size: 18px
            &__descr
                font-size: 15px
            &__link
                    font-size: 15px
            &__wrapper
                width: calc(233% + 1px);
    .reviews
        min-width: 560px
        &__descr
            width: 350px
            padding: 0 
            font-size: 16px
        &__round
            width: 140px
            height: 140px
    .footer
        min-width: 560px
        &__info
            min-width: 100%
            left: 50%


  
            
       
            
    
